{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-react-display-name",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-react-jsx-self",
    "@babel/plugin-transform-react-jsx-source",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-syntax-json-strings",
    "@babel/plugin-proposal-class-properties"
  ]
}
